name: chun

on:
  workflow_dispatch:
  schedule:
     - cron: '22 6-22 * * *'
  watch:
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:   
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
           node-version: 12.x
      - name: npm install
        run: |
              npm install
      - name: 'run chun'
        run: |
           node xlcsecret-All.js
        env:
          CFZHD: ${{ secrets.CFZHD }}
          SYNCURL: yous/main/chun.js
          XLC: ${{ secrets.XLC }}
          GITHUB: ${{ secrets.GITHUB }}      
          EFORK: ${{ secrets.EFORK }}
                  
