name: shuqi

on:
  workflow_dispatch:
  schedule:
     - cron: '8 */8 * * *'
  watch:
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
           node-version: 12.x
      - name: npm install
        run: |
              npm install
              npm install cron
              npm install request
              curl ipinfo.io/json
      - name: 'run shuqi'
        run: |
           node xlcsecret-All.js
        env:
          SYNCURL: yous/main/sqxs.js
          XLC: ${{ secrets.XLC }}
          GITHUB: ${{ secrets.GITHUB }}
          EFORK: ${{ secrets.EFORK }}
